---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
---
Language: Cpp
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
