# Do not copy to Docker the .git directory
.git

# .gitignore patterns expanded with wildcards
.vagrant/
archlinux-seckernel/grsec/
linux/modules/*.mod
linux/modules/*.mod.c
linux/modules/Module.symvers
linux/modules/modules.order
linux/modules/.tmp_versions/
linux/nolibc/include/syscall-x86/
machines/tools/impacket/impacket/
rust/*/target/
rust/target/
verification/.frama-c/
verification/*.script
*~
*/*~
*/*/*~
*/*/*/*~
*.a
*/*.a
*/*/*.a
*/*/*/*.a
*.aux
*/*.aux
*/*/*.aux
*/*/*/*.aux
*.backup
*/*.backup
*/*/*.backup
*/*/*/*.backup
*.bak
*/*.bak
*/*/*.bak
*/*/*/*.bak
*.bin
*/*.bin
*/*/*.bin
*/*/*/*.bin
.*.cmd
*/.*.cmd
*/*/.*.cmd
*/*/*/.*.cmd
.*.d
*/.*.d
*/*/.*.d
*/*/*/.*.d
*.disk
*/*.disk
*/*/*.disk
*/*/*/*.disk
*.dll
*/*.dll
*/*/*.dll
*/*/*/*.dll
*.efi
*/*.efi
*/*/*.efi
*/*/*/*.efi
*.elf
*/*.elf
*/*/*.elf
*/*/*/*.elf
*.exe
*/*.exe
*/*/*.exe
*/*/*/*.exe
*.fdb_latexmk
*/*.fdb_latexmk
*/*/*.fdb_latexmk
*/*/*/*.fdb_latexmk
*.fls
*/*.fls
*/*/*.fls
*/*/*/*.fls
*.glob
*/*.glob
*/*/*.glob
*/*/*/*.glob
*.gz
*/*.gz
*/*/*.gz
*/*/*/*.gz
*.ko
*/*.ko
*/*/*.ko
*/*/*/*.ko
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*.out
*/*.out
*/*/*.out
*/*/*/*.out
*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.pyo
*/*.pyo
*/*/*.pyo
*/*/*/*.pyo
*.sav
*/*.sav
*/*/*.sav
*/*/*/*.sav
*.sig
*/*.sig
*/*/*.sig
*/*/*/*.sig
*.sign
*/*.sign
*/*/*.sign
*/*/*/*.sign
*.so
*/*.so
*/*/*.so
*/*/*/*.so
.*.swp
*/.*.swp
*/*/.*.swp
*/*/*/.*.swp
*.tmp
*/*.tmp
*/*/*.tmp
*/*/*/*.tmp
*.toc
*/*.toc
*/*/*.toc
*/*/*/*.toc
*.xz
*/*.xz
*/*/*.xz
*/*/*/*.xz
*.vo
*/*.vo
*/*/*.vo
*/*/*/*.vo
.coverage
*/.coverage
*/*/.coverage
*/*/*/.coverage
Cargo.lock
*/Cargo.lock
*/*/Cargo.lock
*/*/*/Cargo.lock
htmlcov/
*/htmlcov/
*/*/htmlcov/
*/*/*/htmlcov/
.mypy_cache/
*/.mypy_cache/
*/*/.mypy_cache/
*/*/*/.mypy_cache/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
