*~
*.backup
*.bak
*.bin
.*.d
*.elf
*.exe
*.o
*.out
*.so
.*.swp
*.32
*.64
__pycache__
/c_examples/*
!/c_examples/*.[ch]
!/c_examples/*.sh
!/c_examples/Makefile
/c_examples/kernel-x86-cpufeature.h
/mmap-wx/mmap-wx
/mmap-wx/mmap-wx-simple
/nolibc/include/
