*~
*.a
*.aux
*.backup
*.bak
*.bin
.*.cmd
.*.d
*.disk
*.dll
*.efi
*.elf
*.exe
*.gz
*.ko
*.log
*.o
*.out
*.pdf
*.pyc
*.pyo
*.sav
*.sign
*.so
.*.swp
*.tmp
*.toc
*.xz
.coverage
htmlcov/
__pycache__/
/archlinux-seckernel/grsec/
/linux/modules/*.mod.c
/linux/modules/Module.symvers
/linux/modules/modules.order
/linux/modules/.tmp_versions/
/linux/nolibc/include/
/verification/.frama-c/
/verification/*.script
/verification/linux/.pc/
/verification/linux/out-linux
/verification/linux/src-linux-*/
