*~
*.a
*.backup
*.bak
*.bin
.*.d
*.dll
*.elf
*.exe
*.o
*.out
*.so
.*.swp
*.32
*.64
__pycache__
/c_examples/kernel-x86-*.[ch]
/mmap-wx/mmap-wx
/mmap-wx/mmap-wx-simple
/nolibc/include/
/verification/.frama-c/
/verification/*.sav
/verification/*.script
